/*
//----------------------
// Global Styles
//----------------------
*/
Label, Text, Button {
	fontFamily:Arial;
	fontSize: 13px;
}

/*
//----------------------
// Dashboard Styles
//----------------------
*/
.dashboardItem {
	backgroundColor: #FFFFFF;
	borderStyle: solid;
	dropShadowEnabled: true;
	dropShadowColor: #AAAAAA;
}

.dashboardItemHeader {
	fillAlphas: 1, 1;
	/*fillColors: #ffffff,#d4e0f2;*/

	fillColors: #317DBE, #317DBE;

	borderSides: bottom;
	borderStyle: solid;
	paddingLeft: 3;
}

.dashboardItemLabel {
	fontWeight: bold;
	fontSize: 12;
	color: #ffffff;
}

/*
//----------------------
// Wizard Styles
//----------------------
*/
.wizardForm {
	backgroundColor: #FFFFFF;
	paddingRight: 20;
}

.formSectionHeader {
	backgroundColor: #86be15;
	borderStyle: solid;
	paddingLeft: 5;
	cornerRadius: 3;
}

.altFormSectionHeader {
	backgroundColor: #EEEEEE;
	borderSides: top;
	borderStyle: solid;
	paddingLeft: 5;
}

.formSectionHeaderLabel {
	fontWeight: bold;
	fontSize: 12;
}


/*
//----------------------
// Buttons
//----------------------
*/
.contentButton {
	icon:Embed(source="assets/images/docs_16.png");
	fillAlphas: 1, 0.65, 0.65, 1;
	fillColors: #0868a7, #2e83bb, #2e83bb, #cfe6f5;
	color: #ffffff;
	borderColor: #999999;
	themeColor: #999999;
	textRollOverColor: #ffffff;
}

.popupButton {
	fillAlphas: 1, 0.65, 0.65, 1;
	fillColors: #0868a7, #2e83bb, #2e83bb, #cfe6f5;
	color: #ffffff;
	borderColor: #999999;
	themeColor: #999999;
	textRollOverColor: #ffffff;
}

.actionButton {
 	fillAlphas: 1, 0.9;
	/*fillColors: #00039e, #0001ca, #0001ca, #0001ca;*/
	fillColors: #003699,#003699;
	color: #ffffff;
	borderColor: #005AFF;
	themeColor: #005AFF;
	textRollOverColor: #ffffff;
}

/*
// Other Styles
*/
.errorLabel {
	color: #FF0000;
	font-weight: "bold";
}